<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GMalveira</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Font Awesome para ícones -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

  <!-- Estilos personalizados -->
  <style>
    body {
      background-color: #f2efee;
    }
    .shadow-nav {
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Leve sombra */
    }
    .timeline {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}

.timeline-item {
  position: relative;
  padding-left: 20px;
}

.timeline-item h5 {
  font-weight: bold;
  font-size: 1.2em;
}

.timeline-description {
  margin-left: 20px;
  margin-top: 8px;
}

.timeline-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #3498db; /* Linha da timeline */
}

.timeline-description p {
  font-size: 1em;
  color: #555;
  margin: 0;
}

  </style>
</head>
<body>
  <div class="shadow-nav">
      <nav class="navbar navbar-expand-lg  container">

          <div class="container-fluid">

              <a class="navbar-brand" href="/">
                  <img src="../../frontend/assets/img/logo_GM.png" width="50" alt="Logo">
              </a>

                  


      
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              
      
              <div class="collapse navbar-collapse" id="navbarText">
                  <ul class="nav ms-auto"> <!-- Adicionada a classe ms-auto -->
      

      
      
                      <li class="nav-item">
                          <a class="nav-link link-contact" href="mailto:gabrielmalveira01@gmail.com">Dê uma sugestão no que posso melhorar!</a>
                      </li>
      


                  </ul>
              </div>
          </div>
      
      </nav>
  </div>



  <div >
      <div class="container mt-2 ">
          <div class="row justify-content-center align-items-center profile-section">
            <!-- Foto e descrição abaixo -->
            <div class="col-md-4 text-center">
              <img src="../../frontend/assets/img/foto.jpeg" class="img-fluid" width="300px" style="border-radius: 300px;">
              
            </div>
            
            <!-- Informações ao lado -->
            <div class="col-md-6">
              <p class="mt-3 info-title"><img src="../../frontend/assets/img/gabriel_malveira_foto.png" class="img-fluid" width="350px"></p>
              <h4 class="">Back-End Developer</h4>
  
              <p>Com uma base sólida em suporte e análise de TI, estou focando no desenvolvimento de software, transformando ideias em soluções inovadoras. Minhas experiências fortaleceram a habilidade de resolver problemas complexos e trabalhar estrategicamente em equipe. Contudo, é na criação e integração de sistemas que encontro meu propósito, unindo técnica e criatividade para alcançar resultados impactantes.</p>
              <h3 class="info-title mt-4">Detalhes de Contato</h3>
              <ul class="list-unstyled">
                  <li>
                    <strong><i class="fas fa-envelope "></i> E-mail: </strong> 
                    <a href="mailto:gabrielmalveira01@gmail.com" class="contact-link">gabrielmalveira01@gmail.com</a>
                  </li>
  
                  <li>
                      <strong><i class="fab fa-linkedin "></i> Linkedin: </strong> 
                      <a href="https://www.linkedin.com/in/gabriel-malveira-a8b893273/" target="_blank">/gabrielmalveira</a>
                  </li>
  
                  <li>
                      <strong><i class="fab fa-github"></i> GitHub: </strong> 
                      <a href="https://github.com/gbr233232" target="_blank">/gbr233232</a>
                  </li>
                  
              </ul>
              
            </div>
  
          </div>
      </div>
  </div>

  
  <div class="container-fluid text-center mt-4 mb-5 pb-2">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <div class="accordion" id="topicos">
            <!-- Tópico 1 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="topico1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#conteudo1" aria-expanded="false" aria-controls="conteudo1">
                  <strong>Minha Trajetória</strong>
                </button>
              </h2>
              <div id="conteudo1" class="accordion-collapse collapse" data-bs-parent="#topicos">
                <div class="accordion-body">
                    <div class="container">
                        <h2 class="text-center mt-5 mb-4">Trajetória</h2>
                        <p class="text-center text-muted mb-4">Profissional e Acadêmica</p>
                    
                        <div class="timeline">
                          <div class="timeline-item ">
                            <h5>2019 - 2021</h5>
                            <div class="">
                                <p>Técnico de TI - EEEP Maria Dolores Alcântara e Silva</p>
                            </div>
                          </div>

                          <div class="timeline-item ">
                            <h5>2021 - 2022</h5>
                            <div class="">
                                <p>Estagiário TI - Max World</p>
                            </div>
                          </div>

                          <div class="timeline-item">
                            <h5>2022 - 2023</h5>
                            <div class="">
                              <p>Aprendiz Aux. de T.I - Vectra Work</p>
                            </div>
                          </div>

                          <div class="timeline-item ">
                            <h5>2023 - 2024</h5>
                            <div class="">
                              <p>Estagiário Analista de Sistemas - Fornecedora</p>
                            </div>
                          </div>

                          <div class="timeline-item ">
                            <h5>2025</h5>
                            <div class="">
                              <p>Tecnólogo Análise de Desenvolvimento de Sistemas(2022) - Unifor</p>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>

            <!-- Tópico 2: Skills -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="topico2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#conteudo2" aria-expanded="false" aria-controls="conteudo2">
                  <strong>Skills</strong>
                </button>
              </h2>
              <div id="conteudo2" class="accordion-collapse collapse" data-bs-parent="#topicos">
                <div class="accordion-body">
                  <div class="row">
                    <!-- Hard Skills -->
                    <div class="col-md-6">
                      <h4 class="mb-4 text-primary">Hard Skills</h4>
                      <ul class="list-unstyled">
                        <li class="d-flex align-items-center mb-3">
                          <i class="fab fa-js-square fa-3x me-3 text-warning"></i>
                          <span>JavaScript</span>
                        </li>
                        <li class="d-flex align-items-center mb-3">
                          <i class="fab fa-node fa-3x me-3 text-success"></i>
                          <span>Node.js</span>
                        </li>
                        <li class="d-flex align-items-center mb-3">
                          <i class="fab fa-html5 fa-3x me-3 text-danger"></i>
                          <span>HTML</span>
                        </li>
                        <li class="d-flex align-items-center mb-3">
                          <i class="fab fa-css3-alt fa-3x me-3 text-primary"></i>
                          <span>CSS</span>
                        </li>
                        <li class="d-flex align-items-center mb-3">
                          <i class="fas fa-database fa-3x me-3 text-info"></i>
                          <span>SQL</span>
                        </li>
                      </ul>
                    </div>
            
                    <!-- Soft Skills -->
                    <div class="col-md-6">
                      <h4 class="mb-4 text-primary">Soft Skills</h4>
                      <ul class="list-unstyled">
                        <li class="d-flex align-items-center mb-3">
                          <i class="fas fa-users fa-3x me-3 text-secondary"></i>
                          <span>Comunicação</span>
                        </li>
                        <li class="d-flex align-items-center mb-3">
                          <i class="fas fa-lightbulb fa-3x me-3 text-warning"></i>
                          <span>Criatividade</span>
                        </li>
                        <li class="d-flex align-items-center mb-3">
                          <i class="fas fa-briefcase fa-3x me-3 text-success"></i>
                          <span>Gestão de Tempo</span>
                        </li>
                        <li class="d-flex align-items-center mb-3">
                          <i class="fas fa-cogs fa-3x me-3 text-info"></i>
                          <span>Adaptabilidade</span>
                        </li>
                        <li class="d-flex align-items-center mb-3">
                          <i class="fas fa-handshake fa-3x me-3 text-primary"></i>
                          <span>Trabalho em Equipe</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            

            <!-- Tópico 3 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="topico3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#conteudo3" aria-expanded="false" aria-controls="conteudo3">
                  <strong>Projetos</strong>
                </button>
              </h2>
              <div id="conteudo3" class="accordion-collapse collapse" data-bs-parent="#topicos">
                <div class="accordion-body">
                  You can modify this content.
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>







 
  <!-- Bootstrap Bundle com Popper.js incluído -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
