<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GMalveira</title>


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="../../frontend/assets/css/estilos.css">


</head>
<body class="text-light">
  <div class="shadow-nav">
      <nav class="navbar navbar-expand-md  container">

          <div class="container-fluid">

              <a class="navbar-brand" href="/">
                  <img src="../../frontend/assets/img/logo_GM.png" width="50" alt="Logo">
              </a>

                  


      
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              
      
              <div class="collapse navbar-collapse" id="navbarText">
                  <ul class="nav ms-auto"> 
      

      
      
                      <li class="nav-item">
                          <a class="nav-link link-contact" href="mailto:gabrielmalveira01@gmail.com">Dê uma sugestão no que posso melhorar!</a>
                      </li>
      


                  </ul>
              </div>
          </div>
      
      </nav>
  </div>



  <div >
      <div class=" mt-2 ">
          <div class="row justify-content-center align-items-start profile-section">
            
            <div class="col-lg-4 blocos">
              <div class="text-center">
                <img src="../../frontend/assets/img/foto.jpg" class="img-fluid" width="200px" style="border-radius: 300px;">
                <p class="mt-3 info-title"><img src="../../frontend/assets/img/gabriel_malveira_foto.png" class="img-fluid" width="250px"></p>
              </div>
            
              <h2>Full-Stack</h2>
  


              <ul class="list-unstyled">
                  <li>
                    <strong><i class="fas fa-envelope "></i> E-mail: </strong> 
                    <a href="mailto:gabrielmalveira01@gmail.com" class="contact-link">gabrielmalveira01@gmail.com</a>
                  </li>
  
                  <li>
                      <strong><i class="fab fa-linkedin "></i> Linkedin: </strong> 
                      <a href="https://www.linkedin.com/in/gabriel-malveira-a8b893273/" target="_blank">/gabrielmalveira</a>
                  </li>
  
                  <li>
                      <strong><i class="fab fa-github"></i> GitHub: </strong> 
                      <a href="https://github.com/gbr233232" target="_blank">/gbr233232</a>
                  </li>

                  <li>
                    <strong><i class="fab fa-whatsapp"></i> Whatsapp: </strong> 
                    <a href="https://api.whatsapp.com/send?phone=5585992367392&text=Ol%C3%A1,%20acabei%20de%20ver%20seu%20port%C3%B3flio!" target="_blank">Clique aqui</a>
                </li>
                  
              </ul>
              
            </div>
            
            
            <div class="col-lg-3 text-center blocos" style="padding-top: 20px; padding-bottom: 19px;">
              
              

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#hard" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"><h4>Hard Skills</h4></button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#soft" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false"><h4>Soft Skills</h4></button>
                  </li>


                </ul>

                <!--experiencia-->
                <div class="tab-content mt-2" id="myTabContent">
                  <div class="tab-pane fade show active" id="hard" role="tabpanel" aria-labelledby="home-tab" tabindex="0">  
                      

                    <ul class="list-unstyled">
                      <li class="d-flex align-items-center mb-3">
                        <i class="fab fa-js-square fa-3x me-3 text-warning"></i>
                        <span>JavaScript</span>
                      </li>
                      <li class="d-flex align-items-center mb-3">
                        <i class="fab fa-node fa-3x me-3 text-success"></i>
                        <span>Node.js</span>
                      </li>
                      <li class="d-flex align-items-center mb-3">
                        <i class="fab fa-html5 fa-3x me-3 text-danger"></i>
                        <span>HTML</span>
                      </li>
                      <li class="d-flex align-items-center mb-3">
                        <i class="fab fa-css3-alt fa-3x me-3 text-primary"></i>
                        <span>CSS</span>
                      </li>
                      <li class="d-flex align-items-center mb-3">
                        <i class="fas fa-database fa-3x me-3 text-info"></i>
                        <span>SQL</span>
                      </li>
                      <li class="d-flex align-items-center mb-3">
                        <i class="bi bi-bootstrap me-3" style="font-size: 40px; color: purple; margin-left: 3px;"></i>
                        <span>Bootstrap</span>
                      </li>
                      
                    </ul>

                  </div>
                  <!--profissional-->
                  <div class="tab-pane fade" id="soft" role="tabpanel" aria-labelledby="profile-tab" tabindex="0"><div class="timeline">
                    <ul class="list-unstyled">
                      <li class="d-flex align-items-center mb-3">
                        <i class="fas fa-users fa-3x me-3 text-secondary"></i>
                        <span>Comunicação</span>
                      </li>
                      <li class="d-flex align-items-center mb-3">
                        <i class="fas fa-lightbulb fa-3x me-3 text-warning"></i>
                        <span>Criatividade</span>
                      </li>
                      <li class="d-flex align-items-center mb-3">
                        <i class="fas fa-briefcase fa-3x me-3 text-success"></i>
                        <span>Gestão de Tempo</span>
                      </li>
                      <li class="d-flex align-items-center mb-3">
                        <i class="fas fa-cogs fa-3x me-3 text-info"></i>
                        <span>Adaptabilidade</span>
                      </li>
                      <li class="d-flex align-items-center mb-3">
                        <i class="fas fa-handshake fa-3x me-3 text-primary"></i>
                        <span>Trabalho em Equipe</span>
                      </li>
                    </ul>

                  </div>
                </div>

                </div>

           

              
            </div>

            <div class="col-lg-4 text-center blocos" style="padding-top: 22px; padding-bottom: 22px;">

                <h1>Experiência</h1>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Profissional</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Acadêmica</button>
                  </li>


                </ul>

                <!--experiencia-->
                <div class="tab-content mt-2" id="myTabContent">
                  <div class="tab-pane fade " id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">    
                    <!--academica-->                    
                    <div class="timeline">
                    <div class="timeline-item ">
                      <h5>Jan/2019 - Dez/2021</h5>
                      <div class="">
                          <p>Técnico de TI - EEEP Maria Dolores Alcântara e Silva</p>
                      </div>
                    </div>



                    <div class="timeline-item">
                      <h5>Abr/2022 - Jun/2023</h5>
                      <div class="">
                        <p>Aprendiz Aux. TI. - IEP Pacajus</p>
                      </div>
                    </div>



                    <div class="timeline-item ">
                      <h5>Ago/2022 - Dez/2025</h5>
                      <div class="">
                        <p>Análise de Desenvolvimento de Sistemas - Unifor</p>
                      </div>
                    </div>
                  </div></div>
                  <!--profissional-->
                  <div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0"><div class="timeline">
                    <div class="timeline-item ">
                      <h5>Out/2021 - Fev/2022</h5>
                      <div class="">
                          <p>Técnico de TI - MaxWorld</p>
                          <p><a href="#">Ver mais</a></p>
                      </div>
                    </div>



                    <div class="timeline-item ">
                      <h5>Abr/2022 - Jun/2023</h5>
                      <div class="">
                          <p>Aprendiz Aux. TI. - Vectra Work</p>
                          <p><a href="#">Ver mais</a></p>
                      </div>
                    </div>



                    <div class="timeline-item ">
                      <h5>Ago/2023 - Nov/2024</h5>
                      <div class="">
                          <p>Estagiário Analista de Sistemas - Grupo Fornecedora</p>
                          <p><a href="#">Ver mais</a></p>
                      </div>
                    </div>


                  </div>
                </div>

                </div>

             

              
            </div>
  
          </div>
      </div>
  </div>


  <div class="text-center mt-5 ">
    <h1>Projetos</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <!-- Projeto 2 -->
      <div class="col">
        <div class="card h-100 shadow-lg background">
          <div class="card-body ">
            <h5 class="card-title text-light">Agenda</h5>
            <a href="https://github.com/gbr233232/Agenda.git" target="_blank" rel="noopener noreferrer">
              <p class="btn btn-success">Abrir App</p>
              <p class="btn btn-warning">Repositório</p>
            </a>
          </div>
        </div>
      </div>
      <!-- Projeto 2 -->
      <div class="col">
        <div class="card h-100 shadow-lg background">
          <div class="card-body ">
            <h5 class="card-title text-light">Gerador NF-e</h5>
            <a href="https://github.com/gbr233232/Agenda.git" target="_blank" rel="noopener noreferrer">
              <p class="btn btn-success">Abrir App</p>
              <p class="btn btn-warning">Repositório</p>
            </a>
          </div>
        </div>
      </div>

      <!-- Projeto 2 -->
      <div class="col">
        <div class="card h-100 shadow-lg background">
          <div class="card-body ">
            <h5 class="card-title text-light">Racha Valor</h5>
            <a href="https://github.com/gbr233232/Agenda.git" target="_blank" rel="noopener noreferrer">
              <p class="btn btn-success">Abrir App</p>
              <p class="btn btn-warning">Repositório</p>
            </a>
          </div>
        </div>
      </div>



    </div>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
